<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.diucanteenapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".Student.Ac.Activities.PaymentAndOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/payment"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Student.Ac.Activities.AddToCartActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Student.Ac.Activities.FoodCategoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/food_type"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.AdminHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SharedActivities.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/register"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".SharedActivities.LoginActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>